#sezioneA{
    background-color: lightgrey;
}

.container{
    margin: 0 auto ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70em;
}

.flex{
    display: flex;
}

.link{
    margin: 2px;
    flex: wrap;
}

#containerA{
    background-color: orange;
    height:4em;
}

#containerB{
    background-color: gray;
    height: 10em;
}